<footer class="footer">
 <div class="footer-wra">
    
    <p class="footer-title">©  2020 | All Rights Reserved | Developed with <span><svg class="footer-icon">
        <use href="/src/images/symbol-love.svg#love"></use> 
    </svg></span> by <span class="footer-link"><a id="teamBtn" >GoIT Students</a></span> 
    
    
    </p>
        <div id="footerBtn" class="footer-modal">
            <div class="footer-content">

                <span class="footer-close">&times;</span>
        
              
                    <h2 class="team-caption">Наша команда</h2>
                    <ul class="team-list">
                      <li class="team-caption-list">
                        <img src="/src/images/team/img1.jpg" alt="Игорь Демьяненко" width="270" height="260">
                        <div class=" team-captiom-title">
                            <h3 class="team-title">Максим Кучерявий</h3>
                            <p class="team-desc">Team Leader</p>
                            <ul class="team-icon-list">
                               <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-instagram"></use>
                                </svg></a>
                               </li>
                               <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/github.svg#icon-github"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                        </svg></a>
                               </li>
                                   <li class="team-icon">
                                        <a href="" class="icon"><svg class="icon-social-network">
                                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                            </svg></a>
                                   </li>
                                   
                            </ul>
                        </div>
                      </li>
                      <li class="team-caption-list">
                        <img src="/src/images/team/img1.jpg" alt="Игорь Демьяненко" width="270" height="260">
                        <div class=" team-captiom-title">
                            <h3 class="team-title">Teтяна Сиянко</h3>
                            <p class="team-desc">Scrum Master</p>
                            <ul class="team-icon-list">
                               <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                               </li>
                               <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/github.svg#icon-github"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                        </svg></a>
                               </li>
                                   <li class="team-icon">
                                        <a href="" class="icon"><svg class="icon-social-network">
                                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                            </svg></a>
                                   </li>  
                    </ul>
                            
                            
                          
                </div>
                <li class="team-caption-list">
                    <img src="/src/images/team/img_20220511_125344 (1).jpg" alt="Игорь Демьяненко" width="270" height="260">
                    <div class=" team-captiom-title">
                        <h3 class="team-title">Олексiй Цахло</h3>
                        <p class="team-desc">Full Stack Developer</p>
                        <ul class="team-icon-list">
                           <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                           </li>
                           <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/github.svg#icon-github"></use>
                                </svg></a>
                       </li>
                           <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                    </svg></a>
                           </li>
                               <li class="team-icon">
                                    <a href="" class="icon"><svg class="icon-social-network">
                                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                        </svg></a>
                               </li>  
                </ul>
                        
                        
                      
            </div>
            <li class="team-caption-list">
                <img class="team-img" src="/src/images/team/img_9910.jpg" alt="Дмитро Гончаров" width="270" height="260">
                <div class=" team-captiom-title">
                    <h3 class="team-title">Дмитро Гончаров</h3>
                    <p class="team-desc">Full Stack Developer</p>
                    <ul class="team-icon-list">
                       <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                       </li>
                       <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/github.svg#icon-github"></use>
                            </svg></a>
                   </li>
                       <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                                </svg></a>
                       </li>
                           <li class="team-icon">
                                <a href="" class="icon"><svg class="icon-social-network">
                                        <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                    </svg></a>
                           </li>  
            </ul>
                    
                    
                  
        </div>
        <li class="team-caption-list">
            <img class="team-img" src="/src/images/team/img_8587.jpg" alt="Игорь Демьяненко" width="270" height="260">
            <div class=" team-captiom-title">
                <h3 class="team-title">Юрій Гриненко</h3>
                <p class="team-desc">Full Stack Developer</p>
                <ul class="team-icon-list">
                   <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
                   </li>
                   <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/github.svg#icon-github"></use>
                        </svg></a>
               </li>
                   <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                            </svg></a>
                   </li>
                       <li class="team-icon">
                            <a href="" class="icon"><svg class="icon-social-network">
                                    <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                                </svg></a>
                       </li>  
        </ul>
                
                
              
    </div>
    <li class="team-caption-list">
        <img class="team-img" src="/src/images/team/me.jpg" alt="Игорь Демьяненко" width="270" height="260">
        <div class=" team-captiom-title">
            <h3 class="team-title">Даниїл Солодкий</h3>
            <p class="team-desc">Full Stack Developer</p>
            <ul class="team-icon-list">
               <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
               </li>
               <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                    <use href="/src/images/network/github.svg#icon-github"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                        </svg></a>
               </li>
                   <li class="team-icon">
                        <a href="" class="icon"><svg class="icon-social-network">
                                <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                            </svg></a>
                   </li>  
    </ul>
            
            
          
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/ds.jpg" alt="Игорь Демьяненко" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Дмитро Щегельский</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/img_9403.jpg" alt="Игорь Демьяненко" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Павло Павлів</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
<li class="team-caption-list">
    <img class="team-img" src="/src/images/team/img1.jpg" alt="Игорь Демьяненко" width="270" height="260">
    <div class=" team-captiom-title">
        <h3 class="team-title">Игорь Демьяненко</h3>
        <p class="team-desc">Full Stack Developer</p>
        <ul class="team-icon-list">
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network"><use href="/src/images/network/symbol-defs.svg#icon-instagram"></use></svg></a>
           </li>
           <li class="team-icon">
            <a href="" class="icon"><svg class="icon-social-network">
                <use href="/src/images/network/github.svg#icon-github"></use>
                </svg></a>
       </li>
           <li class="team-icon">
                <a href="" class="icon"><svg class="icon-social-network">
                        <use href="/src/images/network/symbol-defs.svg#icon-facebook"></use>
                    </svg></a>
           </li>
               <li class="team-icon">
                    <a href="" class="icon"><svg class="icon-social-network">
                            <use href="/src/images/network/symbol-defs.svg#icon-linkedin"></use>
                        </svg></a>
               </li>  
</ul>
        
        
      
</div>
        
        
        <script src="/src/js/modal-fooret.js"></script>
       
