<header class="header filmoteka__header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="header_logo_svg">
        <svg width="20" height="20" class="svg">
          <use href="/src/images/symbol-defs.svg#icon-film-logo"></use>
        </svg>

        <a class="logo link header-logo" href="/"> Filmoteka </a>
      </div>

      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link link current" href="./index.html">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link" href="./my-library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <form class="search-form" id="search-form">
      <input class="input" type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
      <button type="submit" class="input__btn" width="30" height="30">
        <svg width="20" height="20" class="svg">
          <use href="/src/images/symbol-defs.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
  </div>
</header>