<header class="header filmoteka__header mylibrary">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="header_logo_svg">
        <svg width="20" height="20" class="svg">
          <use href="/src/images/symbol-defs.svg#icon-film-logo"></use>
        </svg>
        <a class="logo link header-logo" href="/"> Filmoteka </a>
      </div>

      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link link" href="./index.html">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link current" href="./my-library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <div class="wrapper-btn">
      <button type="button" class="btn-watched">WATCHED</button>
      <button type="button" class="btn-queue">QUEUE</button>
    </div>
  </div>
</header>