<div class="pagination-system">
    <ul>
        <li><button data-pag-system="arow-left">arl</button></li>
        <li><button data-pag-system="1"></button></li>
        <li><button data-pag-system="2"></button></li>
        <li><button data-pag-system="3"></button></li>
        <li><button data-pag-system="4"></button></li>
        <li><button data-pag-system="5"></button></li>
        <li><button data-pag-system="6"></button></li>
        <li><button data-pag-system="7"></button></li>
        <li><button data-pag-system="8"></button></li>
        <li><button data-pag-system="9"></button></li>
        <li><button data-pag-system="arow-right">arr</button></li>
    </ul>
</div>